body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #DBCBD8;
    color: #101935;
}

h2,
h3 {
    font-family: 'Lobster', sans-serif;
    color: #101935;
}

li {
    color: black;
}