body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: blue;
    color: whitesmoke;
}

h2 {
    color: black;
}

li {
    background-color: rgb(250, 250, 139);
    color: black;
}