body {
    font-family: 'Roboto', sans-serif;
    color: #101935;
    max-width: auto;
}

header,
main,
footer {
    max-width: 640px;
    margin: 0rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
}

header {
    background-color: #DBCBD8;
    color: #101935;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    /* Center horizontally */
}

section {
    padding: 1rem;
    background-color: #DBCBD8;
}

section h3 {
    background-color: #F2FDFF;
    color: #101935;
}

h2 {
    font-family: 'Lobster', sans-serif;
    color: #101935;
    padding: 1rem;
}

nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101935;
    color: #DBCBD8;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

footer {
    background-color: #F2FDFF;
    color: #101935;
}