body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 0rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(253, 252, 253);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    /* Center horizontally */
}

section {
    padding: 1rem;
    background-color: rgb(208, 4, 208);
}

h3 {
    background-color: rgb(125, 0, 125);
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    /* Mobile view */
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 4, 208);
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

footer {
    background-color: rgb(250, 110, 250);
}