@media screen and (min-width: 36em) {
    h1 {
      scale: 2;
    }

    #menu {
      display: none;
    }

    .nav{
      flex-direction: row;
    }
    .nav li{
      display: block;
      flex: 1 1 100%;
    }

    .container {
      display:grid;
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr;
      grid-gap: 20px;
  }

  .one{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .two{
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .three{
    grid-column: 1/2;
    grid-row: 2/2;
  }

  .four{
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .footer-container {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.foot1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.foot2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.foot3 {
  grid-column: 3/3;
  grid-row: 1/2;
}

.foot4 {
  grid-column: 1/span 3;
  grid-row: 2/2;
  text-align: center;
}

.footer-child {
  padding: 1em;
  text-align: center;
}
}