@media only screen and (min-width: 540px) {

  form{
      margin: 0 auto;
      width: 60%;
      height: auto;
      padding: 10px;
      border: 2px solid #000;
      background-color:var(--darkpurple);
  }
  legend{
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      background-color: white;
      padding: 10px;
      border: 2px solid var(--black);
      border-radius: 50px;
  }
  fieldset{
      background-color: var(--lightpurple);
      border: 10px solid white;
      width: 50%;
      margin: 0 auto;
      padding: 10px;
  }
  label{
      display: block;
      padding-top: 1rem;
      font-size: 9pt;
      width: 100%;
      margin: 0 auto;
      text-align: left;
      font-size: .8rem;
      width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="r"]
  {
  display: block;
  width: 70%;
  padding: 10px;
  border: 2px solid  var(--black);
  border-radius: 10px;
  background-color: var(--white);
  margin: 0 auto;
  }
  input:required{
      border-bottom: red solid 8px;
   }
   input:required:valid{
      border-bottom: var(--white) solid 8px;
   }
   div#rangevalue, div#passwordFeedback{
       font-size: 24px;
       font-weight: bold;
   }
   label{
       font-weight: bold;
       font-size: 1em;
       margin-bottom: 1em;
   }
   fieldset div.rating{
      margin: 0 auto;
      width: 50%;
      background-color:  var(--white);
      border: 2px solid  var(--black);
      border-radius: 10px;
   }
   fieldset div label, fieldset div div, fieldset div input#r{
      display: block;
      margin: 0 auto;
      text-align: center;
   }
  
   #btnSubmit{
       display: block;
       margin: 0 auto;
       padding: 10px;
       border: 2px solid  var(--black);
       border-radius: 50px;
       background-color:  var(--white);
       font-size: 12pt;
       font-weight: bold;
       width: 40%;
       margin-top: 1em;
       margin-bottom: 1em;
   }
  }
      main{
          width: 100%;
      }
      h1{
          font-size: 1.5rem;
          text-align: center;
          padding: 10px;
          border: 2px solid  var(--black);
          margin-top: 3em;
      }
      form{
          margin: 0 auto;
          width: 80%;
          height: auto;
          padding: 10px;
          border: 2px solid var(--black);
          background-color: var(--darkpurple);
      }
      legend{
          font-size: 1.5em;
          font-weight: bold;
          text-align: center;
          background-color:  var(--white);
          padding: 10px;
          border: 2px solid  var(--black);
          border-radius: 50px;
      }
      fieldset{
          background-color: var(--lightpurple);
          border: 10px solid var(--white);
          margin: 0 auto;
          padding: 10px;
      }
      label{
          display: block;
          padding-top: 1rem;
          font-size: 9pt;
          width: 100%;
          margin: 0 auto;
          text-align: left;
          font-size: .8rem;
          width: 100%;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="r"]
      {
      display: block;
      width: 70%;
      padding: 10px;
      border: 2px solid  var(--black);
      border-radius: 10px;
      background-color:  var(--white);
      margin: 0 auto;
      }
      input:required{
          border-bottom: red solid 8px;
       }
       input:required:valid{
          border-bottom: var(--background-color-primary) solid 8px;
       }
       div#rangevalue, div#passwordFeedback{
           font-size: 24px;
           font-weight: bold;
       }
       label{
           font-weight: bold;
           font-size: 1em;
           margin-bottom: 1em;
       }
       fieldset div.rating{
          margin: 0 auto;
          width: 80%;
          background-color:  var(--white);
          border: 2px solid  var(--black);
          border-radius: 10px;
       }
       fieldset div label, fieldset div div, fieldset div input#r{
          display: block;
          margin: 0 auto;
          text-align: center;
       }
      
       #btnSubmit{
           display: block;
           margin: 0 auto;
           padding: 10px;
           border: 2px solid  var(--black);
           border-radius: 50px;
           background-color:  var(--white);
           font-size: 12pt;
           font-weight: bold;
           width: 40%;
           margin-top: 1em;
           margin-bottom: 1em;
       }
       body.dark main form legend, body.dark main form fieldset{
           background-color: var(--darkmode);
       }
       body.dark main form fieldset div label, body.dark main form fieldset div div, body.dark main form fieldset div input#r{
           background-color:var(--darkmode);
       }
   